# Python cache and logs
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.npy
*.h5

# Notebook junk
*.ipynb_checkpoints

# Data files
*.csv
*.tar
*.tar.gz
*.zip

# Artifacts and logs
artifacts/*
!artifacts/model.pkl
!artifacts/preprocessor.pkl
!artifacts/top_features.json
logs/

# Environment
env/
.venv/
myenv/

# Notebooks with large data
notebooks/kaggle_datasets/

# Local environment files
.env

# Ignore all data/ (you can include a README if needed)
data/

